*.d
*.o
*.pb.h
*.pb.cc
*.moc.cpp
ui_aboutdialog.h
ui_analyzer.h
ui_audio_expanded_view.h
ui_audio_miniview.h
ui_display.h
ui_input_mapping.h
ui_mainwindow.h
ui_midi_mapping.h
nageru
benchmark_audio_mixer
.pc
kaeru

# CEF
*.bin
*.pak
icudtl.dat
libcef.so
libEGL.so
libGLESv2.so
swiftshader/
locales/
